@import url('https://fonts.cdnfonts.com/css/hero');

body {
    max-width: 1400px;
    margin: 0 auto;

    font-family: 'Hero New', sans-serif;

    border-style: solid;
    border-width: 3px;
    border-color: blue;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 5%;

    background-color: #1F2937;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}



header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.header-logo-text {
    display: flex;
    flex: 1 1 0;
    color: #F9FAF8;

    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.header-links {
    display: flex;
    flex: 1 1 0;
    list-style: none;

    border-style: solid;
    border-width: 2px;
    border-color: red;
    gap: 5%;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.banner-content {
    display: flex;
    flex: 1 1 0;
    align-items: center; 

    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.banner-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;

    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.banner-text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.random {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    padding: 5%;
    align-items: center;

    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.quote-section {
    display: flex;
    background-color: #E5E7EB;
    padding: 5% 15%;
    flex-direction: column;

    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.quote-section .quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.quote-section .author {
    margin-left: auto;
    font-size: 24px;
    color: #1F2937;
    font-weight: 800;
}

.image-gallery {
    display: flex;
    flex: 1 1 0;

    border-style: solid;
    border-width: 2px;
    border-color: green;
}

content h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

/* Note how only direct children become flex items
.image-gallery figure {
    display: flex;
    justify-content: flex-end;
}
*/

.image-gallery figure img {
    width: 100%;
    border-radius: 5%;
    border-color: #3882f6;
    border-style: solid;
    border-width: 4px;
}

.image-gallery figure figcaption {
    text-align: center;
    color: #67686a;

}

.image {
    display: flex;
    flex: 1 1 0;
    justify-content: center;

    border-style: solid;
    border-width: 2px;
    border-color: red;

}

.image img {
    width: 75%;
}

.call-to-action {
    display: flex;
    flex: 1 1 0;
    padding: 5%;

    border-style: solid;
    border-width: 2px;
    border-color: green;
}

.blue-box {
    display: flex;
    flex: 1 1 0;
    margin: 5%;
    padding: 1%;
    background-color: #3882F6;

    border-radius: 10px / 5px;
}

.blue-box-text {
    display: flex;
    flex: 1.5 1 0;
    flex-direction: column;
    justify-content: center;

    font-size: 18px;
    color: #F9FAF8;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.button {
    display: flex;
    flex: 1 1 0;

    align-items: center; 

    border-style: solid;
    border-width: 2px;
    border-color: red;
}

footer  {
    display: flex;
    flex: 1 1 0;
    justify-content: center;

    background-color: #1F2937;
}



/*
Background:
background-color: #1F2937;


Main Text:
size: 48px;
font-weight: extra-bold;
color #F9FAF8;

Secondary Text:
size: 18px;
color: #E5E7EB;

Header Logo Text:
size: 24px;
color: #F9FAF8;

Button: 
background-color: #3882F6;

Info header text: 
size: 36px;
font-weight: extra-bold;
color: #1F2937

Quote selection:
background-color: #E5E7EB;

Quote text:
size: 36px;
font-weight: light italic;
color: #1F2937;
*/