
body {
    max-width: 1400px;
    margin: 0 auto;
    border-style: solid;
    border-width: 3px;
    border-color: blue;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 5%;

    border-style: solid;
    border-width: 2px;
    border-color: red;
}



header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-style: solid;
    border-width: 2px;
    border-color: red;
}

header nav h1 {
    display: flex;
    flex: 1 1 0;

    border-style: solid;
    border-width: 2px;
    border-color: red;
}

header nav ul {
    display: flex;
    flex: 1 1 0;
    list-style: none;

    border-style: solid;
    border-width: 2px;
    border-color: red;
    gap: 5%;
}

.banner-content {
    display: flex;
    flex: 1 1 0;
    align-items: center; 

    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.banner-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;

    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.random {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    padding: 5%;
    align-items: center;

    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    padding: 5% 15%;

    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.image-gallery {
    display: flex;
    flex: 1 1 0;

    border-style: solid;
    border-width: 2px;
    border-color: green;
}

/* Note how only direct children become flex items
.image-gallery figure {
    display: flex;
    justify-content: flex-end;
}
*/

.image-gallery figure img {
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.image-gallery figure figcaption {
    text-align: center;
}

.image {
    display: flex;
    flex: 1 1 0;
    justify-content: center;

    border-style: solid;
    border-width: 2px;
    border-color: red;

}

.image img {
    width: 75%
}

.call-to-action {
    display: flex;
    flex: 1 1 0;
    padding: 5%;

    border-style: solid;
    border-width: 2px;
    border-color: green;
}

.blue-box {
    display: flex;
    flex: 1 1 0;
    margins: 5%;
    
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}

.blue-box-text {
    display: flex;
    flex: 2 1 0;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.button {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center; 

    border-style: solid;
    border-width: 2px;
    border-color: red;
}

footer  {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
}


/*
Background:
background-color: #1F2937;


Main Text:
size: 48px;
font-weight: extra-bold;
color #F9FAF8;

Secondary Text:
size: 18px;
color: #E5E7EB;

Header Logo Text:
size: 24px;
color: #F9FAF8;

Button: 
background-color: #3882F6;

Info header text: 
size: 36px;
font-weight: extra-bold;
color: #1F2937

Quote selection:
background-color: #E5E7EB;

Quote text:
size: 36px;
font-weight: light italic;
color: #1F2937;
*/