@import url('https://fonts.cdnfonts.com/css/hero');

body {
    max-width: 1400px;
    margin: 0 auto;

    font-family: 'Hero New', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 5%;

    background-color: #1F2937;
}

.banner-button {
    background-color: #3882f6;
    color:#F9FAF8;
    padding: 2% 5%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-text {
    display: flex;
    flex: 1 1 0;
    color: #F9FAF8;
    font-size: 24px;
}



.header-links {
    display: flex;
    flex: 1 1 0;
    list-style: none;
    gap: 5%;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.banner-content {
    display: flex;
    flex: 1 1 0;
    align-items: center; 

    padding: 2% 5% 8%;
}

.banner-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.banner-text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: -0.5%;
}

.random {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    padding: 5% 10% 7%;
    align-items: center;
}

.quote-section {
    display: flex;
    background-color: #E5E7EB;
    padding: 7% 15%;
    flex-direction: column;
}

.quote-section .quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.quote-section .author {
    margin-left: auto;
    font-size: 24px;
    color: #1F2937;
    font-weight: 800;

    margin-top: -1%;
}

.image-gallery {
    display: flex;
    flex: 1 1 0;
}

.gallery-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: -1% 0 3%;
}



/* Note how only direct children become flex items
.image-gallery figure {
    display: flex;
    justify-content: flex-end;
}
*/

.image-gallery figure img {
    width: 100%;
    border-radius: 5%;
    border-color: #3882f6;
    border-style: solid;
    border-width: 4px;

    padding: 5%;
}

.image-gallery figure figcaption {
    text-align: center;
    color: #67686a;

}

.image {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
}

.image img {
    width: 75%;
}

.call-to-action {
    display: flex;
    flex: 1 1 0;
    padding: 5%;

}

.blue-box {
    display: flex;
    flex: 1 1 0;
    margin: 5%;
    padding: 2% 10%;
    background-color: #3882F6;

    border-radius: 10px;
}

.blue-box-text {
    display: flex;
    flex: 3 1 0;
    flex-direction: column;
    justify-content: center;

    font-size: 18px;
    color: #F9FAF8

}

.blue-box-text .header-logo-text {
    margin-bottom: -3%
}

.blue-box-text p{

}

.button {
    display: flex;
    flex: 1 1 0;

    justify-content: center;
    align-items: center; 
}

footer  {
    display: flex;
    flex: 1 1 0;
    justify-content: center;

    background-color: #1F2937;
}

.action-button {
    background-color: #3882f6;
    color:#F9FAF8;
    padding: 2% 5%;
    
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

    border-radius: 10px;
    border-style: solid;
    border-color: #F9FAF8;


    
}


/*
Background:
background-color: #1F2937;


Main Text:
size: 48px;
font-weight: extra-bold;
color #F9FAF8;

Secondary Text:
size: 18px;
color: #E5E7EB;

Header Logo Text:
size: 24px;
color: #F9FAF8;

Button: 
background-color: #3882F6;

Info header text: 
size: 36px;
font-weight: extra-bold;
color: #1F2937

Quote selection:
background-color: #E5E7EB;

Quote text:
size: 36px;
font-weight: light italic;
color: #1F2937;
*/